

.new_row_fade_01 {
  background-color:red;
  animation-name:bckanimrow;
  animation-fill-mode:forwards;
  animation-duration:3s;
  animation-delay:0s;
}
@keyframes bckanimrow {
  0% {background-color:red;}
  100% { background-color:transparent;}
}