.new_row_fade_02 {
    background-color: lightgreen;
    animation-name: fadeask;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0s;
}

.new_row_fade_01 {
    background-color: red;
    animation-name: fadebid;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0s;
}

