{% extends "markets/layout.html" %}
{% load static %}
{% block body %}
<h2>Pattern Discovery from Saved Data</h2>
    <div><p>It should be noted that a batch may or may not display one of the six candle patterns being searched for. The larger the sample data, the more likely a pattern match</p></div>
    <div id="analysis_table_01" class="container table-responsive p-3 my-3 border">
        <div class="row">
            <div class="col">
                {% if user_batches.count > 0 %}
                    <select name="Batches_01" id="Batches_01" size="1">
                        <option value="None">No batch selected</option>
                        {% for batch_id in user_batches %}
                            <option value="{{ batch_id }}">{{ batch_id }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <h2>No batches saved yet</h2>
                {% endif %}

            </div>
            <div class="col">
                <br>
                <table id="table_01" class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Exchange</th>
                        <th scope="col">Created</th>
                        <th scope="col">Open</th>
                        <th scope="col">High</th>
                        <th scope="col">Low</th>
                        <th scope="col">Close</th>
                        <th scope="col">Volume</th>

                        <th scope="col">Bullish Swing</th>
                        <th scope="col">Bearish Swing</th>
                        <th scope="col">Bullish Pinbar</th>
                        <th scope="col">Bearish Pinbar</th>
                        <th scope="col">Inside Bar</th>
                        <th scope="col">Outside Bar</th>
                        <th scope="col">Bullish Engulfing</th>
                        <th scope="col">Bearish Engulfing</th>
                    </tr>
                    </thead>
                    <tbody id="data_saved_analysis_01" class="table-group-divider">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% block script %}
        <script src="{% static 'markets/candle.js' %}"></script>
    {% endblock %}
{% endblock %}