{% extends "markets/layout.html" %}
{% load static %}
{% block body %}
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <div><p>It should be noted that the candle chart and order book tables update from a real time feed.
                However, the data does not flow a constant rate. Pauses may occur due to market activity pauses</p>
            </div>
            <p> Select a exchange to track:
                <select id="select_cryptocurrency_01">
                    <option value="ETH-USD">ETH-USD</option>
                </select>
            </p>
        </div>
        <div class="col">
            <strong>
                <div id="recent_average">Mean: (calculating...)</div>
                <div id="current_variance">Variance: (calculating...)</div>
                <div id="current_standard_deviation">Standard Deviation: (calculating...)</div>
                {% if user.is_authenticated %}
                    <div>
                        <p>Save Candle Feed to Data Lake</p>
                        <button type="button" id="save_candle_data_01" class="btn btn-primary">Save Stream</button>
                    </div>
                    <div id="batch_message_01"></div>
                    <div id="report_transaction_id_01">
                    </div>
                {% endif %}
            </strong>
        </div>

    </div>

    <div id="chart">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-hover" id="Ticker24hr_01">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Key</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody id="table_body_01">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <h2>Order Book Data</h2>
                <div>
                    <div id="current_ask_01"></div>
                    <table class="table table-hover" id="ask_table_01">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Ask</th>
                            <th scope="col">Volume</th>
                        </tr>
                        </thead>
                        <tbody id="ask_table_body_01">

                        </tbody>
                    </table>
                </div>
                <div>
                    <div id="current_bid_01"></div>
                    <table class="table table-hover" id="bid_table_01">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Bid</th>
                            <th scope="col">Volume</th>
                        </tr>
                        </thead>
                        <tbody id="bid_table_body_01">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% block script %}
        {{ results|json_script:"results" }}
        {{ ticker|json_script:"ticker" }}
        <script src="{% static 'markets/index.js' %}"></script>
    {% endblock %}
{% endblock %}